<h1>Welcome</h1>
<p>Welcome to Phone Review</p>
<p>Add new phone Details and also write Review for the 
    Phone as You like It!!!</p>

{{#if user}}
<!--<img src={{user.image}} alt="Profile Photo" style="width:50px;height:60px;" >-->
{{else}}    
<a class="btn blue darken-1" href="/auth/google"><i class="fa fa-google left"> </i>Login With Google</a> 
{{/if}}