<h1>Add Phone</h1>
<div class="row">
  <form action="/phones" method="post" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" name="name">
        <label for="name">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="brand">
<option value="Samsung" selected>Samsung</option>
			<option value="Nokia">Nokia</option>
			<option value="Lenovo">Lenovo</option>
			<option value="Apple">Apple</option>
			<option value="Huawei">Huawei</option>
			<option value="Google">Google</option>
			<option value="Sony">Sony</option>
			<option value="Honor">Honor</option>
			<option value="Razer">Razer</option>
			<option value="LG">LG</option>
			<option value="OnePlus">OnePlus</option>
			<option value="Doro">Doro</option>
			<option value="Motorola">Motorola</option>
			<option value="CAT">CAT</option>
			<option value="ZTE">ZTE</option>
			<option value="BlackBerry">BlackBerry</option>
			<option value="Xiaomi">Xiaomi</option>
			<option value="Alcatel">Alcatel</option>
			<option value="Vodafone">Vodafone</option>
			<option value="Acer">Acer</option>
			<option value="Binatone">Binatone</option>
			<option value="Wiley Fox">Wiley Fox</option>
			<option value="Oppo">Oppo</option>
			<option value="Vivo">Vivo</option>
        </select>
        <label for="brand">Brand</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="size">
        <label for="size">Size</label>
      </div>
    </div>
    

    <div class="row">
      <div class="input-field">
        <input type="text" name="camera">
        <label for="camera">Camera(front,rear)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="battery">
        <label for="battery">Battery</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="prize">
        <label for="prize">Price</label>
      </div>
    </div>

    <!--<input accept="image/*" name="picture" type="file" />
    -->
    <input type="submit" value="Save" class="btn">
  </form>
</div>